

	<% if @email.errors.any? %>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h2 class="panel-title">
							<a href="#" class="close" data-dismiss="panel">&#215;</a>
							<%= pluralize(@email.errors.count, "error") %>
							prevent your email to be sent to us! Please check it out and try again!
						</h2>
					</div>
					<div class="panel-body">
						<ul>	
							<% @email.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row">
		<div class="col-xs-12">
			<div class="img_header_div">
				<%= image_tag('FLogo_sm.png', id:"logo", alt: "logo_about_users")%>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<p id="caption">
							Having a hard time to get started in UX?<br />
							<span>Join our 100 Days Challenge About Users!</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="box ">
		<div class="row">
			<div class="col-xs-12">
				<h2>How to join the challenge</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="icons_bkgd">
					<h4>STEP 1</h4>
					<%= image_tag('STEP1.png', class: "img_steps", alt: "step_one")%>
					<p>
						<strong>READ</strong><br />
					 	at least one article about UX every day
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="icons_bkgd">
					<h4>STEP 2</h4>
					<%= image_tag('STEP3.png', class: "img_steps", id: "idstep2", alt: "step_two")%>
					<p>
						<strong>ADD</strong><br />
						the challenge's hashtag on your posts
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="icons_bkgd">
					<h4>STEP 3</h4>
					<%= image_tag('STEP2.png', class: "img_steps", id: "idstep3", alt: "step_three")%>
					<p>
						<strong>SHARE</strong><br />
						your daily article in our pages using the hashtag!
					</p>
				</div>
			</div>
			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class='form_wraper'>
				<div>
					<h2 id="form_label">DO YOU CREATE CONTENT?</h2>
					<p>
						You can also join as a content partner if you write articles, interview influencers, or master any skill and want to share! Submit your email and we'll reach out to you!
					</p>
				</div>
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
						<%= form_for(@email, :html => {role: "form"}) do |f| %>
							<div class="input-group input_container">
								<div class="control-label">
									<% f.label :email %>
								</div>
								<%= f.email_field :email, class: "form-control", id: "email_form_input", placeholder: "Your email here", autofocus: true %>
								<span class="input-group-btn"> 
									<%= f.submit class: "btn btn-default", id: "submit_form_input", value: "I'M IN!" %>
								</span>
							</div>
						<% end %>
					</div>									
				</div>	
			</div>
		</div>
	</div>
	
	<div class="pitch">
		<div class="row">
			<div class="col-xs-12 col-md-5 col-md-offset-1">
				<h2>You are the one who gets the most!</h2>
				<p>
					As long as you commit yourself to read about UX every day and share your discoveries, you will create the habit, get connected to other professionals, and get addicted on spreading knowledge.
				</p>
			</div>
			<div class="col-xs-12 col-md-5">	
				<h2>Cool! But.. What is this challenge about?</h2>
				<p>
					During 100 days we will dive into the user experience design, user-centered design, and human-computer interaction concepts, exploring processes, tools, trends and best practices, sharing relevant content, and encouraging other professionals to do the same under the hashtag <strong>#100DaysAboutUsers</strong>.
				</p>
			</div>
		</div>
	</div>

	<div class="img_background">
		<div class="row">
			<div class="col-xs-12">
				<div class="benefits">	
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<%= image_tag('objective.jpg', class: 'benefit_img') %>
							<h3>THE OBJECTIVE</h3>
							<p> Share as much information as possible about UX, encouraging a collaborative and plural environment where we all can share discoveries, struggles, experiences, and learn. <strong>Together.</strong>
							</p>
						</div>
						<div class="col-xs-12 col-md-4">
							<%= image_tag('challenge.jpg', class: 'benefit_img') %>
							<h3>OUR COMMITMENT</h3>
							<p>
								During 100 days:<br />
									<span>
									Post relevant content on Facebook<br />
									Publish one new article on Medium<br />
									</span>
								Every day!
							</p>
						</div>			
						<div class="col-xs-12 col-md-4">
							<%= image_tag('content.jpg', class: 'benefit_img') %>
							<h3>COMMUNITY COMMITMENT</h3>
							<p>The community is committed in reading and sharing 1 relevant content about UX, UCD or HCI every day. It can be articles, books, websites, documentaries, movies, events, influencers, and so on, always using the hashtag #100DaysAboutUsers.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="social">
		<div class="row">
			<div class="col-xs-12">
				<h2>KEEP UP-TO-DATE WITH OUR DAILY POSTS AND ARTICLES!</h2>
				<h5>Click the icons below and follow the challenge on social media!</h5>
					<div class="row">
						<div class="col-xs-12 col-sm-2 col-sm-offset-3">
							<%= link_to image_tag('medium_logo.png', :class => 'social_icon', :alt => 'Medium icon logo'), "https://medium.com/@robertopesce", :target => 'blank' %>
						</div>
						<div class="col-xs-12 col-sm-2">
							<%= link_to image_tag('facebook_logo.png', :class => 'social_icon', :alt => 'Facebook icon logo'), "https://www.facebook.com/aboutusersux", :target => 'blank' %>
						</div>
						<div class="col-xs-12 col-sm-2">
							<%= link_to image_tag('instagram_logo.png', :class => 'social_icon', :alt => 'Instagram icon logo'), "https://www.instagram.com/aboutusers/", :target => 'blank' %>
						</div>
					</div>
			</div>
		</div>
	</div>
	<hr>

	<div id="fb_plugin">
		<div class="fb-page" id="fb" data-href="https://www.facebook.com/aboutusersux" data-tabs="timeline, messages" data-small-header="false" data-width="500px" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
	</div>

	

	<div class="self_wraper">
		<div class="row">
			<div class="col-xs-12 col-lg-4">
				<%= image_tag('Author_sm.jpg', :id => 'rp_photo', :alt => 'author_photo') %>
			</div>
			<div class="col-xs-12 col-lg-8">
				<div class="self_descr">
				<h4>About the project and the author</h4>
					<p>
					The 100 Days Challenge About Users is an UX project developed by an UX designer for professionals that want to get started in the user experience design field. Born from a real need, we want to create a collaborative environment where professionals and students that believe in the power of the user-centered design can share experiences and learn together.
					</p>
					<p>
					A designer, a dream, and a struggle: the best environment for an idea. The 100 Days Challenge About Users Project comes from the struggle that Roberto Pesce, a Brazilian UX designer with background in business, project management, graphic design, and a big passion for innovation and digital was having to get started on this amazing field called user experience design.<br />
					Back in 2015, when he went to California focused on getting a job as UX designer in a big tech company, he figured that he would need to master some of his skills to have, at least, a chance. As he started deepening his knowledge in UX, it didn’t take too long to notice how hard can be, even to know <em>‘how’</em> to start. That was when he got the insight: “<span>Even with my experience I’m having a hard time to get started in UX. Other transitioning professionals should be experiencing the same hard time. What if I could share my studies and encourage them to share theirs? This way <strong>we all win</strong></span>!”
					</p>
					<p>This is how About Users came up. In order to create commitment, he adopted the 100 days challenge nature and focused on creating a collaborative environment for designers, entrepreneurs, product managers and team members, where they all can learn together by sharing.</p>
					<%= link_to "[LinkedIn]", "https://www.linkedin.com/in/roberto-pesce-jr-00746249", :target => 'blank' %>
					<%= link_to "[Behance - portfolio]", "https://www.behance.net/robertopesce", :target => 'blank' %>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<small>
			2016 | aboutusers.com | all rights reserved<br/>
		</small>
	</footer>

